/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set font and colors */
body {
  font-family: Arial, sans-serif;
  color: #333333;
  background-color: #f2f2f2;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.logo img {
  max-height: 40px;
}

.menu-icon img {
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
  display: none;
}

.project-name {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

nav.menu {
  display: flex;
  align-items: center;
}

nav.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav.menu li {
  margin-left: 20px;
}

nav.menu a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

nav.menu a:hover {
  padding: 0.5rem 1rem;

  color: #0077c2;
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
  .menu-icon img {
    display: block;
  }
  nav.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    transition: 0.8s all ease-in-out;
  }
  nav.menu ul li a {
    color: #333;
  }
  nav.menu ul {
    flex-direction: column;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
  }

  nav.menu.close ul {
    visibility: hidden;
    opacity: 0;
  }

  nav.menu li {
    margin: 10px 0;
    width: fit-content;
  }

  nav.menu a {
    font-size: 16px;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
  }
}

h1 {
  animation: fade-in-out 1s ease-in-out infinite;
}
/* Section styles */
section {
  padding: 40px 20px;
  background-color: #ffffff;
  margin-top: 80px;
}

section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* apartment-details styles */
#apartment-details {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

#apartment-details h2 {
  font-size: 30px;
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

#apartment-details div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#apartment-details div:last-child {
  border-bottom: none;
}

#apartment-details p:first-child {
  font-size: 18px;
}

#apartment-details p:last-child {
  font-size: 18px;
}

/* updates section */
#updates {
  background-color: #f9f9f9;
  padding: 50px 0;
}

#updates .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#updates h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #333;
  text-align: center;
}

#updates .card {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#updates .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#updates .card-header {
  padding: 20px;
  background-color: #0077c2;
  color: #fff;
  position: relative;
}

#updates .card-header h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

#updates .card-header span {
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#updates .card-body {
  padding: 20px;
  height: 100%;
}

#updates .card-body p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}

#updates .card-body a {
  display: inline-block;
  background-color: #0077c2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

#updates .card-body a:hover {
  background-color: #005fa3;
}

/* Documents table styles */
#documents {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

#documents h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #333;
}

.documents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.document {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 1rem;
}

.document:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.document-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}

.document-icon img {
  max-height: 80px;
  max-width: 80px;
}

.document-info {
  text-align: center;
  padding: 20px;
}

.document-info h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.document-info p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #0077c2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.download-btn:hover {
  background-color: #005c99;
}

.download-btn img {
  max-width: 20px;
  margin-right: 10px;
}

.download-btn span {
  font-size: 18px;
  font-weight: bold;
}

.document a img {
  margin-left: 1rem;
}

/* satus Timeline styles */

#status {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}
#status > .title {
  text-align: center;

  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
/* Timeline Container */
.timeline {
  background: inherit;
  background: inherit;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.timeline .card {
  position: relative;
  max-width: 900px;
}
.timeline .card .info .title {
  margin-bottom: 1rem;
}
.timeline .card .info .title,
.timeline .card .info p {
  padding-top: 1rem;
}

.timeline .card .info p {
  padding-right: 1rem;
}

/* setting padding based on even or odd */
.timeline .card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.timeline .card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.timeline .card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid rgb(37, 37, 37);
}

/* Setting the border of top, bottom, left */
.timeline .card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.timeline .card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.timeline .card:first-child::before {
  border-top: 0;
  border-top-style: 20px;
}

/* Removing the border if it is the last card  and it's odd */
.timeline .card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Gallery styles */
#gallery {
  background-color: #f9f9f9;
  padding: 50px 0;
}

#gallery h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #333;
  text-align: center;
}

.gallery-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.gallery-item {
  width: calc(50% - 20px);
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.gallery-item:hover .gallery-item-text-content {
  transform: translateY(0);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery-item-text-content {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.gallery-item-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.gallery-item-description {
  font-size: 16px;
  opacity: 0.8;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .gallery-item {
    width: 100%;
  }
}
/* statistic */
#statistics {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  max-height: 600px;
}

/* footer */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

.footer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-content li {
  margin: 0 10px;
}

.footer-content a {
  color: #333;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* to top btn */
#to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
}

#to-top-btn.show {
  display: block;
}

#to-top-btn:hover {
  background-color: #555;
}

.show-to-top-btn {
  display: block;
}
