/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set font and colors */
body {
  font-family: Arial, sans-serif;
  color: #333333;
  background-color: #f2f2f2;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  padding: 0 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.logo img {
  max-height: 60px;
}

.menu-icon img {
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
  display: none;
}

.project-name {
  flex-grow: 1;
  text-align: center;
}

nav.menu {
  display: flex;
  align-items: center;
}

nav.menu ul {
  list-style: none;
  display: flex;
}

nav.menu li {
  margin-left: 20px;
}

nav.menu a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

nav.menu a:hover {
  color: #0077c2;
  background-color: #cccccc;

  border-radius: 15px;
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
  .menu-icon img {
    display: block;
  }
  nav.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #7e7b7b;
    padding: 10px;
    transition: 0.8s all ease-in-out;
  }
  nav.menu ul li {
    color: #ffffff;
  }
  nav.menu.close ul {
    transform: translateX(120%);
  }

  nav.menu ul {
    flex-direction: column;
  }

  nav.menu li {
    margin: 10px 0;
    width: fit-content;
  }

  nav.menu a {
    font-size: 16px;
  }
}

h1 {
  animation: fade-in-out 1s ease-in-out infinite;
}
/* Section styles */
section {
  padding: 40px 20px;
  background-color: #ffffff;
  margin-top: 80px;
}

section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* apartment-details styles */
#apartment-details {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#apartment-details h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

#apartment-details div {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#apartment-details p {
  font-size: 1.2rem;
  margin: 0;
  color: #666;
}

#apartment-details p:last-child {
  font-weight: bold;
  color: #333;
}
/* updates section */
#updates {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#updates h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

#updates .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

#updates .card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#updates .card p {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: #666;
}

#updates .card a {
  color: #0077cc;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#updates .card a:hover {
  color: #005fa3;
}

/* Documents table styles */
table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table td img {
  max-height: 20px;
  max-width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

/* Timeline styles */
.timeline {
  list-style: none;
  position: relative;
  padding: 20px 0 10px;
  margin-top: 50px;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  background-color: #0077c2;
}

.timeline > li {
  margin-bottom: 50px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: "";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline-badge {
  color: #ffffff;
  background-color: #0077c2;
  position: absolute;
  top: 16px;
  left: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
}

.timeline-panel {
  margin: 0 15px;
  position: relative;
  float: right;
  text-align: right;
}

.timeline-panel .timeline-title {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.timeline-panel .timeline-body {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

/* Gallery styles */
#gallery {
  background-color: #f7f7f7;
}

#gallery h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.gallery-items {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 1rem;
  overflow: hidden;
}
.gallery-item img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out all;
}
.gallery-item:hover img {
  transform: scale(1.2);
}
.gallery-item-text-content {
  background-color: #000000a8;
  z-index: 1;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  line-height: 3rem;
  text-align: center;
}

/* statistic */
#statistics {
  background-color: #f7f7f7;
  padding: 50px 20px;
  text-align: center;
}

#statistics h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 300px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.chart-bar {
  width: 100%;
  background-color: #007acc;
  transition: height 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .chart {
    height: 400px;
  }

  .chart-label {
    font-size: 1.5rem;
  }
}
/* footer */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

.footer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-content li {
  margin: 0 10px;
}

.footer-content a {
  color: #333;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

img {
  width: 200px;
  height: 200px;
}
